.information{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.information__container {
        max-width: 550px;
    height: auto;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1.5em;
    background-color: #22212C;
    color: #f2f2f2;
    border-radius: 0.5em;
    animation-duration: 1s;
   animation-name: fadeIn;;
}

.information__container__text{
    text-align: center;
    margin-bottom: 0.5em;
}

.information__container__text>p{
        margin: 0.1em 0;
}

.information__container__images {
    display: flex;
    flex-wrap: wrap;
}

.information__container__images > img{
    height: 30px;
    padding: 0.5em;
}
@keyframes fadeIn{
    0%{
   opacity: 0;
   size: 0;
    }
    100%{
   opacity: 1;

    }
}

@media (max-width:460px) {
    .information__container {
        font-size: 18px;
    }
}