
.card{
    max-width: 300px;
    max-height: 280px;
    display: flex;
    flex-direction: column;
    margin: 1em;
    border: 1px solid #22212C ;
  }

.card__title{
    background-color:#22212C;
    width: 100%;
    text-align: center;
    color: #f2f2f2;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card__image{
    width: 100%;
    max-height: 168.75px;
}

.card__nav{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color:#22212C;
    padding: 7px;
}

.card__nav > a {
    border-radius: 5px;
    padding: 7px;
    font-size: 18px;
}

.card__nav >a:hover{
    color: #ff80bf;
    border-color: #ff80bf;
}         
